.app-container{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
}


.ant-message .anticon {
    top: -2px !important;
}


/* body{
    background-image: url("./los.jpg");
} */

.loginForm {
    /* background-color: rgba(0,0,0, 0.3); */
    background-color: rgba(255,255,255, 0.7);
}

.activities{
    background-color: rgba(255,255,255, 0.8);
}


@media screen and (max-width: 576px) {
    .app-container{
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }
}