.personalHeader{
  margin-left: 40px;
  font-size: 40px;
  font-weight: bolder;
}

.personalSubheaderRow{
  /* margin-left: 40px; */
  margin-top: 20px;
  /* font-size: 20px; */
  /* font-weight: bolder; */
  /* border-bottom: #2196f3 4px solid;  */
}

.personalSubheaderCol{
  /* margin-bottom: 80px; */
}

.navLink{
  color: black !important;
  margin-right: 20px;
}

.personalSubheaderNav{
  position: static !important;
  margin-left: 20px;
  /* width: 1900px !important; */
  font-size: 20px;
  font-weight: bolder;
  background-color: #ffffff !important;
  padding-bottom: 0px !important;
}

.calendar {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 300px;
}

.myCalendar{
  display: flex;
  margin-top: 40px;
  /* justify-content: center; */
  /* margin-bottom: 40px; */
}

.calendar .header {
  background-color: var(--light-blue);
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  color: var(--black);
  font-family: var(--font-book);
  font-weight: 700;
  display: flex;
}

.calendar .day-names {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.calendar .body {
  border: 1px solid var(--light-blue);
}

.calendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.calendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

.calendar .week {
  background-color: white;
  width: calc(100% / 7);
  height: 30px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 400;
}
.calendar .week div {
  width: 100%;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 30px;
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.calendar .day div {
  width: 34px;
  height: 30px;
  position: relative;
  color: var(--black);
  z-index: 100;
  /* line-height: 44px; */
}

.calendar .day div.before {
  color: var(--grey);
}

.calendar .day div.selected {
  background-color: var(--red);
  color: var(--white);
  font-weight: bold;
}

.calendar .day div.today {
  background-color: var(--grey);
}

.eventForm_area{
  border: #2196f3 5px solid;
}


.clickerFormBtn{
  font-size: 30px;
  background-color: white;
  border: solid 0px #2196f3;
  font-weight: bolder;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clickerFormBtn:hover{
  background-color: #2196f3;
  color: #ffffff;
}

.card{
  border: 0px solid #2196f3;
}

.InputTitle{
  margin-top: 5px;
  font-weight: bolder;
}

.submitBtn{
  display: flex;
  justify-content: center;
}

.startTimeInput{
  margin-bottom: 20px;
  border-radius: 5px;
}

.endTimeInput{
  margin-bottom: 20px;
  border-radius: 5px;
}

.descriptionInput{
  border-radius: 5px;
  width: 240px;
  margin-bottom: 5px;
}

.locationInput{
  border-radius: 5px;
  width: 240px;
  margin-bottom: 10px;
}



#availableTime,#personalEventForm{
  border-bottom: solid 4px #2196f3;
}

.eventFormRow{
  width: 420px;
  margin-left: 50px;
  margin-right: 0px;
}