.activitiesPageHeader{
    margin-top: 100px;
    margin-bottom: 70px;
    text-align: center;
}

.activities {
    font-size: 1.1rem;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-radius: 8px;
    padding: 12px;
    margin: 25px 2px;
}

.activities .row{
    margin-top: 5px;
    margin-bottom: 5px;
}

.activities .button{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* .activities-page .MuiButton-contained {
    background-color: #b1bfca;
} */

.act-col{
    padding-left: 0;
}

.act-border{
    margin: 20px 5px;
    border-top: 1px solid rgba(32, 33, 36, 0.28);
}

.act-icon{
    font-size: 25px;
}

.createEventTitle{
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.timeInput{
    width: 260px;
    border: 2px solid black;
    border-radius: 8px;
}

.createActivitiesBody{
    padding: 0px;
}

.form-group {
    margin: 0px !important;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}

#act-back-btn{
    margin-top: 40px;
    justify-content: center;
}

.edit-act-form .modal-content{
    width: 100%;
    height: 100%;
}

.act-selector-btn{
    justify-content: space-evenly;
}