.header{
    text-align: center;
}

.searchForm{
    margin-top: 50px;
    text-align: center;
}

.searchInput{
    width: 480px;
    height: 40px;
    border :#2196f3 3px solid;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    color: #4DBFF5;
    margin-left: 190px;
}

.searchInputBtn{
    margin-left: 80px;
    width: 120px;
    height: 40px;
    font-size: 17px;
    text-align: center;
    color: #2196f3;
    background-color: white;
    border: 3px #2196f3 solid;
    border-radius: 30px;
}

.searchInputBtn:hover{
    color : white;
    background-color: #2196f3;
}

.addFriendsForm{
    height: 150px;
    border: 2px #2196f3 solid;
    border-radius: 35px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
}

.searchResult-Col{
    text-align: center;
}

.searchResult{
    font-size: 25px;
    text-align: center;
    border: 0px;
}

.formInputBtn-Col{
    text-align: center;
}

.formInputBtn{
    width: 160px;
    height: 50px;
    font-size: 17px;
    text-align: center;
    color: #2196f3;
    background-color: white;
    border: 3px #2196f3 solid;
    border-radius: 30px;
}

.formInputBtn:hover{
    color : white;
    background-color: #4DBFF5;
}

.addFriendsRequested{
    font-size: 17px;
    text-align: center;
    color: #2196f3;
}

@media screen and (max-width: 768px) {
    .searchInput{
        width: 100%;
        margin-left: 0px;
    }
    .searchInputBtn{
        margin: 30px 0px 0px 0px;
    }
    .addFriendsForm{
        margin-left: 0px;
    }
    .searchResult{
        font-size: 20px;
    }
    .formInputBtn{
        width: 100px;
        font-size: 13px;
    }
  }