.header{
   text-align: center;
   margin-top: -20px;
}

.personalPageSidebar{
  background-color: #05557d ;
  position: fixed;
  height: 100%;
  z-index: 400;
}

.selectedDate{
  text-align: center;
  margin-top: 20px;
}

.personalPageHeader{
  font-size: 25px;
  color: white;
  margin: 15px;
  font-weight: bolder;
}

.personalComponents{
  justify-content: center;
}

.personalComponentsCol{
  padding-right: 0px;
}

.personalHeaderRow{
  margin-top: 60px;
  justify-content: center;
}

.personalSidebarItem{
  margin-top: 40px;
}

.personalPageFormRow{
  margin-top: 20px;
}

.personalPageFormCol{
  text-align: center;
}

.dropdownToggle{
  width: 100px;
  height: 30px;
  background-color: #2196f3;
}

.dropdownToggleIcon{
  display: flex !important;
  justify-content: center;
}

.availableTimeForm,.timeTable-form{
  text-align: center;
}

.availableTimeFormHeader,.timeTableFormHeader{
  font-size: 30px;
  padding-bottom: 40px;
}

.personalSubheaderBtn{
  font-size: 20px;
  padding: 40px;
}

@media only screen and (max-width:414px){
  .personalHeader{
    text-align: center;
    margin: 0px;
  }
  .personalSubheaderBtn{
    font-size: 12px;
    font-weight: bolder;
  }

  .personalPageCalendar{
    display: flex;
    justify-content: center;
  }

  .modal-content{
    width: 100% !important;
  }
}

:root {
   --black: rgb(58, 58, 58);
   --grey: rgb(205, 205, 205);
   --white: rgb(240, 240, 240);
   --red: rgb(206, 36, 36);
   --light-blue: rgb(102, 193, 255);
   --font-light: "AirbnbCerealLight", sans-serif;
   --font-book: "AirbnbCerealBook", sans-serif;
   --font-black: "AirbnbCerealBlack", sans-serif;
   color: var(--black);
   font-family: var(--font-light);
   font-size: 16px;
   text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
   font-smoothing: antialiased;
   -webkit-font-smoothing: antialiased;
 }
 
 @font-face {
   font-family: "AirbnbCerealLight";
   src: url(/fonts/AirbnbCerealLight.woff);
 }
 
 @font-face {
   font-family: "AirbnbCerealBook";
   src: url(/fonts/AirbnbCerealBook.woff);
 }
 
 @font-face {
   font-family: "AirbnbCerealMedium";
   src: url(/fonts/AirbnbCerealMedium.woff);
 }
 
 @font-face {
   font-family: "AirbnbCerealBold";
   src: url(/fonts/AirbnbCerealBold.woff);
 }
 
 @font-face {
   font-family: "AirbnbCerealBlack";
   src: url(/fonts/AirbnbCerealBlack.woff);
 }
 