.friend-empty{
    margin-bottom: 70px;
}

.header{
    text-align: center;
}

.friends-header{
    text-align: center;
    margin-top: 20px;
}

.friendsListBtn,.addfriendsBtn{
    font-size: 3vh;
}

.friendsNameList{
    width: 1000px;
    height: 100px;
    align-items: center;
    margin-top: 40px;
    border: 3px solid #2196f3;
    border-radius: 20px;
} 

.friendsComponent-subheader{
  justify-content: center;
}

.friendsRequestListLength{
    background-color: #2196f3;
    font-size: 25px;
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    width: 40px;
}

.subheader-friendsRequest{
    display: flex;
}

.friendsComponent{
    padding-right: 0px !important;
    margin-top: 12px;
    text-align: center;
}

.searchArea{
    text-align: center;
}

.input{
    text-align: center;
    margin-right: 10px;
}

.searchBox,.result,.friendsInfo{
    text-align: center;
}


.friendsInfo{
    margin-bottom: 5px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.inviteFriendCol{
    display: flex;
    justify-content: center;
}

.inviteFriend{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #2196f3 solid 3px;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-weight: bolder;
}

.inviteFriend:hover{
    color: white;
    background-color:#2196f3 ;
}

.friendsPage_body{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .friendsNameList{
        width: 350px;
        font-size: 15px;
    }
    
    .friendsInfo {
        font-size: 15px;
    }
  }