.header{
    text-align: center;
}

.requestForm{
    height: 150px;
    border: 2px #2196f3 solid;
    display: flex;
    align-items: center;
    margin-top: 50px;
    border-radius: 35px;
}

.requestForm-Col{
    margin-right: 40px;
    text-align: center;
}

.requestFormBtn-Col{
    margin-left: 200px;
    text-align: center;
}

.requestUser{
    font-size: 25px;
    text-align: center;
    border: 0px;
}

.rejectBtn{
    margin-left:20px ;
}