.friends_list{
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
}

.dateInput{
    margin-top: 40px;
}

.friendComponent{
    margin-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.friendsTimetable_header{
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #2196f3 ;
    margin: 40px 0px 0px 15px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.friendTimetableDate{
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 30px;
    font-weight: bolder;
}

.friendAvailableTimeList{
    height: 500px;
    margin: 30px 0px 0px 15px;
    border: #2196f3 5px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.friendsTimetableItem{
    margin: 15px;
    font-size: 20px;
    font-weight: bolder;
}

.myTimetable_header{
    font-size: 20px;
    margin: 10px;
    font-weight: bolder;
}

.myTimetable_item{
    font-size: 15px;
    font-weight: bolder;
    padding-bottom: 10px;
    margin: 5px 0px 10px 0px;
    border-bottom: 2px solid #2196f3;
}

.friendsTimetable_Col{
    margin-left: 80px;
}

.closeBtn{
    margin-top: 20px;
    margin-left: 80px;
}

.btnArea{
    margin-top: 30px;
    /* border-radius: 15px; */
    border: #2196f3 5px solid;
}

.friendTimetableBtn{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bolder;
    border: solid 2px #2196f3;
}

.friendTimetableBtn:hover{
    background-color: #2196f3;
    color: #ffffff;
}

.inviteForm{
 padding:0px;
 border: #2196f3 solid 3px;
}

.inviteFormHeader{
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}


.inputTitle{
    font-weight: bolder;
    font-size: 15px;
    /* margin: 10px; */
}

.inviteTextInput{
    margin-left: 70px;
    border-radius: 15px;
    border: 3px solid #2196f3;
}

.inviteRow{
    margin-bottom: 20px;
}

.inviteSubmitCol{
    text-align: center;
}

.inviteSubmit{
    width: 150px;
    height: 30px;
    border: 3px solid #2196f3;
    border-radius: 15px;
    background-color: white;
    margin-top: 10px;
    font-weight: bolder;
    text-align: center;
}

.inviteSubmit:hover{
    background-color: #2196f3;
    color: #ffffff;
}

.friendList{
    background-color:  #05557d ;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    position: fixed;
    height: 100%;
    z-index: 400;
}

.friendListRow{
    border-bottom: 2px solid white;
    padding: 10px;
}

.friendListRow:hover{
    background-color: #ffffff;
    color: #05557d;
    border: #05557d 2px solid;
}

.friendsDropdown{
    width: 100px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bolder;
    border: solid 2px #2196f3;
    background-color: white;
    color: black;
}

.friendsDropdown:hover{
    background-color: #2196f3;
    color: white;
}