.login-empty{
    margin-top: 150px;
}

.header{
    text-align: center;
}

.LoginPage{
    height: 100%;
    display: flex;
    align-items: center;
}

.loginForm{
    height: 400px;
    width: 300px;
    border: 3px solid #2196f3;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    text-align: center;
    margin: 20px;
}

.signIn-Btn{
    display: flex !important;
    justify-content: center !important;
    margin: 10px;
}

.signUp-Btn{
    display: flex !important;
    justify-content: center !important;
    margin: 10px;
}

.errMessage{
    margin-top: 20px;
    text-align: center;
    font-weight: bolder;
    color: red;
}