.navbar{
    background-color: #2196f3;
    /* background-color: #bbbbbb; */
    line-height: 2.5;
    position:fixed;
    z-index: 500;
    width: 100%;
    color: #ffffff;
}

.navbarRow{
    width: 100%;
}

.navbar-title-text a {
    color: #ffffff;
}
.navbar-title-text a:hover {
    color: #ffffff;
}

.navbar-ddi-button{
    color: black;
}


.navbar-title{
    padding-left: 45px;
}

@media screen and (max-width: 576px) {
    .navbar-title-text{
        display: none;
    }
    .navbar-title{
        display: none;
    }    
}


.friendsRequestPosition{
    display: flex;
    align-items: center;
}

.friendsRequestStatus{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.friendsRequestListLength{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bolder;
    color: #2196f3 !important;
    background-color: white;
    border-radius: 13px;
}

.friendsRequestListLength:hover{
    background-color: #2196f3;
    color: #ffffff !important;
    border: 2px #ffffff solid;
}

.friendsRequestMenu{
    transform: translate3d(-150px, 38px, 0px) !important;
    min-width: 250px;
    margin-top: 10px;
    border: #2196f3 2px solid;
}

.friendsRequestName{
    margin-right: 70px;
    color: #2196f3;
    font-size: 18px;
    font-weight: bolder;
}

#friendsRequestBtn{
    width: 80px;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
    color: #2196f3;
    border: #2196f3 solid 2px;
    border-radius: 20px;
    background-color: #ffffff;
}

#friendsRequestBtn:hover{
    background-color: #2196f3;
    color: #ffffff;
}

.navbar-user-menu{
    transform: translate3d(-60px, 44px, 0px) !important;
    border: #2196f3 3px solid;
    left:-15px !important;
}

.navBtn{
    font-weight: bolder;
    text-align: center;
    color: #2196f3;
}

.navBtn:hover{
    background-color: #2196f3;
    color: #ffffff;
}

.friendsRequestForm{
    transform: translate3d(-100px, 40px, 0px) !important;
    border: #2196f3 3px solid;
    width: 250px ;
}

.navbar-btn{
    background-color: #2196f3;
    border: #2196f3;
    color: #ffffff;
}

.navbar-btn:hover{
    background-color: #0069c0;
    color: #ffffff;
}
.navbar-btn:active{
    background-color: #0069c0!important;
    color: #ffffff;
}
.navbar-btn:focus{
    background-color: #0069c0!important;
    color: #ffffff;
}

.navbar-act-menu{
    left:-40px !important;
}

.navbar-act-menu img{
    width: 23px;
}

.profileHeader{
    text-align: center;
    margin: 20px 0px;
}

.profileInputRow{
  margin-bottom: 30px;
}

.profileInputTitle,.profileInput{
    font-size: 20px;
    font-weight: bolder;
}

.profileBtn{
    text-align: center;
}