.empty{
    margin-top: 150px;
}

.registerFormPosition{
    display: flex;
    justify-content: center;
}

.registerHeader{
    text-align: center;
    margin : 30px;
    font-weight: bolder;
}

.registerForm{
    height: 600px;
    width: 700px;
    border: 3px solid #2196f3;
    border-radius: 15px;
}

#username , #password{
    width: 200px;
    height: 40px;
    margin: 20px 20px 10px 20px;
    text-align: center;
    font-size: 17px;
    border: 0px;
    border-bottom: solid #2196f3 2px;
    font-weight: bolder;
}

.registerInput{
    width: 450px;
    height: 40px;
    font-size: 17px;
    border: 0px;
    border-bottom: solid #2196f3 2px ;
    font-weight: bolder;
    margin-bottom: 10px;
}

.form-group{
    text-align: center;
    margin:30px;
}

.registerPage-btnArea{
    text-align: center;
}

.submit-btn{
    display: flex;
    justify-content: center;
}