/* @media screen and (max-width : 415px) {
  .sidebarItem{
    display: flex;
    flex-direction: row;
  }
}

.sidebarItem > div {
  text-align: center;
  font-size: 25px;
  padding: 10px;
} */


.sidebarContainer{
  text-align: center;
  margin: 0;
  padding: 10px 120px 20px 100px;
  background-color: #05557d ;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 1000;
}

.sidebarContainer > div > div{
  display: block;
  padding: 16px;
  text-decoration: none;
  font-size: 25px;

}

.sidebarContainer > div > div > a{
  color: white;
}

.sideBarDropdown{
  display: none !important;
}

@media screen and (max-width: 768px) {
  .sidebar{
    display: none;
  }
  .sideBarDropdown{
    display: block !important;
  }
}

@media screen and (max-width: 400px) {
  .sidebarContainer {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    background-color: white;
  }

  .sidebarContainer > div > div > a{
    color: #2196f3;
    font-size: 20px;
  }
}

