

.timeTable-form-date{
    text-align: center;

}

.timeTable-date{
    /* width: 1000px; */
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    text-align: center;
    border-bottom: 3px solid #2196f3;
}



.personal_timeTable,.available_timeTable{
    margin-top: 20px;
    text-align: center;
    padding: 0px;
}

.timeTable-header{
    font-weight: bolder;
    font-size: 2vh;
    margin: 10px 0px 10px 0px;
}

.timeTable-list-header{
    font-size: 21px;
    margin: 10px 0px 10px 0px;
    border-bottom: 2px solid #2196f3;
}

.timeTable-description,.timeTable-time,.timeTable-location{
    padding: 0px;
}

.timeTable-activities-item{
    align-items: center;
    font-size: 19px;
    font-weight: bolder;
    /* border-bottom: #2196f3 2px solid; */
    padding-bottom: 10px;
    /* padding-top: 10px; */
    margin: 0px 7px;
}

.timeTable-activities-item:hover{
    background-color: #2196f3;
}

@media only screen and (max-width:414px){
    .timeTable-list-header{
        font-size: xx-small;
        margin-left: -15px;
        margin-right: -15px;
    }

    .timeTable-activities-item{
        font-size: 2vh;
        margin-left: -15px;
        margin-right: -15px;
    }

    #deleteBtn{
        font-size: xx-small;
    }
}

.deleteBtn{
    margin-right: 20px;
}

.eventItemList{
    border-bottom: #2196f3 2px solid;
}

.eventItemList:hover{
    background-color: #2196f3;
    color: white;
}

.eventItem{
    font-size: 19px;
    font-weight: bolder;
    /* border-bottom: #2196f3 2px solid; */
    margin-top: 10px;
}

.friendsCalendar{
    margin-left: 15px;
}

.editForm{
    margin-top: 200px;
    margin-left: 550px;
}

.modal-content{
    width: 600px;
    height: 100%;
    border:  5px solid #2196f3;
    border-radius: 20px;
}

.editFormHeader{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bolder;
}

.editFormDate{
    font-size: 25px;
    margin-top: 40px;
    margin-left: 20px;
}

.editFormTitle{
    margin-left: 25px;
    font-size: 15px;
    font-weight: bolder;
}

.editFormTo{
    text-align: center;
}

.editFormGroup{
    font-size: 15px;
    font-weight: bolder;
    margin: 50px 0px 0px 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #2196f3;
}

.editFormInput{
    width: 380px;
    border: 0px;
    font-size: 15px;
}

.editFormInput:focus{
    outline-width: 0;
}

.editFormBtnCol{
    margin-top: 20px;
    text-align: center;
}

.editFormBtn{
    border: #2196f3 2px solid;
    border-radius: 20px;
    background: white;
    color:black;
}

.editFormBtn:hover{
    background-color: #2196f3;
    color: white;
}

.availableTimeBtn{
    font-size: 20px;
    margin-top: 18px;
    margin-right: 15px;
}

.editAvailableTimeFormHeader{
    font-size: 30px;

    font-weight: bolder;
    text-align: center;
}

.editAvailableTimeFormRow{
    font-size: 20px;
    margin-top: 40px;
    font-weight: bolder;
}

.editAvailableTimeFormBtnArea{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.editAvailableTimeFormBtn{
    background-color: white;
    font-weight: bolder;
    border: solid 2px #2196f3;
    border-radius: 20px;
    width: 100px;
    height: 40px;
}

.editAvailableTimeFormBtn:hover{
    background-color: #2196f3;
    color: white;
}